<div class='title-contents'>
    <h2 class='service-title'>
      Get to know the mountains and enjoy them

    </h2>
    <p class='service-explain'>
      「山を知り、山を楽しむ」非日常な体験を存分に楽しむためのアプリケーション
    </p>

<div class='theme-contents'>
    <ul class='theme-lists'>
      <li class='list'>
      <%= link_to(tweets_path(@tweet, theme_id: 2), class: 'list-pict') do %>
        <div class='list-pict-content'>
        <%= image_tag "theme1.jpg", class:"list-pict" %>
      <% end %>  
      </li>
      <li class='list'>
      <%= link_to(tweets_path, class: 'list-pict') do %>
        <div class='list-pict-content'>
        <%= image_tag "theme2.jpg", class:"list-pict" %>
      <% end %>
      </li>
      <li class='list'>
      <%= link_to(tweets_path, class: 'list-pict') do %>
        <div class='list-pict-content'>
        <%= image_tag "theme3.jpg", class:"list-pict" %>
      <% end %>
      </li>
      <li class='list'>
      <%= link_to(tweets_path, class: 'list-pict') do %>
        <div class='list-pict-content'>
        <%= image_tag "theme4.jpg", class:"list-pict" %>
      <% end %>
      </li>
    </ul>

    <p class='bestmountain-title'>
      Best Mountain

    </p>
    <table>
  <tr>
    <th>山の情報</th>
    <th>登山時間</th>
    <th>眺望度</th>
    <th>体力度</th>
    <th>危険度</th>
  </tr>
  <tr>
    <td>富士山</td>
    <td>6：00</td>
    <td>★★★</td>
    <td>★★</td>
    <td>★★★</td>
  </tr>
  <tr>
    <td>高尾山</td>
    <td>2：00</td>
    <td>★</td>
    <td>★</td>
    <td>★</td>
  </tr>
  <tr>
    <td>金時山</td>
    <td>4：00</td>
    <td>★★</td>
    <td>★★</td>
    <td>★★</td>
  </tr>
  <tr>
    <td>塔ノ岳</td>
    <td>6：00</td>
    <td>★★</td>
    <td>★★</td>
    <td>★★★</td>
  </tr>
  <tr>
    <td>御岳山</td>
    <td>5：00</td>
    <td>★★</td>
    <td>★★★</td>
    <td>★★★</td>
  </tr>
  </table>
</div>
