<h2 class="name">
  <%= @tweet.title %>
</h2>

  <div class= 'tweet-contents'>
  <div class="tweet-img-content">
  <% if user_signed_in? && current_user.id == @tweet.user_id%>
    <%= link_to "編集する", edit_tweet_path(@tweet.id), class: :tweet__btn %>
    <%= link_to "削除する", tweet_path(@tweet.id), method: :delete, class: :tweet__btn %>
  <% end %>
  <%= image_tag @tweet.image ,class:"tweet-box-img" %>
  </div>
    <div class='user-name'>
      <%= @tweet.user.nickname %>さんの登山情報
    </div>

    <table>
    <tr>
      <th>山の情報</th>
      <th>登山時間</th>
      <th>眺望度</th>
      <th>体力度</th>
      <th>危険度</th>
    </tr>
    <tr>
      <td> <%= @tweet.mountain_name.name %> </td>
      <td> <%= @tweet.climbing_time.name %> </td>
      <td> <%= @tweet.mountain_view.name %> </td>
      <td> <%= @tweet.stamina.name %> </td>
      <td> <%= @tweet.danger.name %> </td>
    </tr>
    </table>
  </div>
  